flask
flask-login
flask-wtf
wtforms
flask-bcrypt
itsdangerous
flask-sqlalchemy
flask-migrate
flask-cors
marshmallow
python-dotenv
flask-mail
flask-debugtoolbar
mongoengine
flask-wtf
flask-login
flask-bcrypt
flask-migrate
flask-sqlalchemy
flask-cors
flask-mail
flask-limiter
flask-pymongo
mongoengine
flask-caching
flask-debugtoolbar
flask-talisman
marshmallow
marshmallow-sqlalchemy
python-dotenv
email-validator
werkzeug
requests
jinja2
gunicorn
gevent
pytest
pytest-flask
coverage
