<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Service Project.Css">
    <title>Document</title>
</head>
<body>
        <ul>
        <li><h1>Services :</h1></li>


            <ul>
            <p>
                <li>DEPARTMENT OF ADULT & PAEDIATRIC ORTHOPEDIC &JOINT REPLACEMENT SURGERY</li>
                <br>
                <br>
                <li>DEPARTMENT OF ADULT ,PAEDIATRIC & NEONATAL CARDIAC & VASCULAR SURGERY</li>
                <br>
                <br>
                <li>DEPARTMENT OF ADVANCED GASTROINTESTINAL BARIATRIC &GASTROINTESTINAL ONCO SURGERY</li>
                <br>
                <br>
                <li>DEPARTMENT OF CARDIOLOGY</li>
                <br>
                <br>
                <li>DEPARTMENT OF CRITICAL CARE</li>
                <br>
                <br>
                <li>DEPARTMENT OF DENTAL SURGERY</li>
                <br>
                <br>
                <li>DEPARTMENT OF DERMATOLOGY</li>
                <br>
                <br>
                <li>DEPARTMENT OF EAR,NOSE, THROAT (E.N.T)</li>
                <br>
                <br>
                <li>DEPARTMENT OF GENERAL SURGERY</li>
                <br>
                <br>
                <li>DEPARTMENT OF IN VITRO FERTILIZATION (IVF CLINIC) & REPRODUCTIVE MEDICINE</li>
                <br>
                <br>
                <li>DEPARTMENT OF INTERNAL MEDICINE</li>
                <br>
                <br>
                <li>DEPARTMENT OF INTERVENTIONAL GASTROENTEROLOGY</li>
                <br>
                <br>
                <li>DEPARTMENT OF NEPHROLOGY AND DIALYSIS</li>
                <br>
                <br>
                <li>DEPARTMENT OF NEUROLOGY</li>
                <br>
                <br>
                <li>DEPARTMENT OF NEUROSURGERY (BRAIN AND SPINE INTERVENTION)</li>
                <br>
                <br>
                <li>DEPARTMENT OF OBSTETRICS AND GYNAECOLOGY</li>
                <br>
                <br>
                <li>DEPARTMENT OF OPHTHALMOLOGY</li>
                <br>
                <br>
                <li>DEPARTMENT OF PLASTIC AND COSMETIC SURGERY</li>
                <br>
                <br>
                <li>DEPARTMENT OF PULMONOLOGY AND PULMONOLOGY INTERVENTIONS</li>
                <br>
                <br>
                <li>DEPARTMENT OF UROLOGY , UROLOGY INTERVENTIONS & RETROGRADE INTRA-RENAL SURGERY</li>
                <br>
                <br>
                <li id="th"><h3>Therapist :</h3></li>
                <ul>
                <li>Arthritis treatment</li>
                <br>
                <li>Back pain</li>
                <br>
                <li>Foot & ankle pain</li>
                <br>
                <li>Geriatric physiotherapy</li>
                <br>
                <li>Knee pain</li>
                <br>
                <li>Neurological physiotherapy</li>
                <br>
                <li>Pediatric physiotherapy</li>
                <br>
                <li>Physical therapy</li>
                <br>
                <li>Post-surgical rehabilitation</li>
                <br>
                <li>Shoulder pain</li>
                <br>
                <li>Spinal injuries</li>
                <br>
                <li>Therapeutic Exercise</li>
                <br>
                </ul>
                <li id="bl"><h3>Blood Testing Service :</h3></li>
                <ul>
                <li>Allergy testing</li>
                <br>
                <li>Blood type & rh factor</li>
                <br>
                <li>Diabetes testing</li>
                <br>
                <li>General health</li>
                <br>
                <li>STD testing</li>
                <br>
                <li>Tuberculosis</li>
                <br>
                </ul>
            </p>
            </ul>
            </ul>
</body>
</html>